body{
	background-color: rgb(58, 58, 58);
}
.logo{
	background: rgba(0,0,0,.3);
	color: rgb(255, 255, 255);
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border-radius: 50%;
	display: grid;
	place-items: center;
	position: relative;
}
.btn{
	background: rgba(0,0,0,.3);
	color: rgb(255, 255, 255);
	width: 250px;
	height: 100px;
	margin-left: 20px;
	padding: 10px;
	display: grid;
	place-items: center;
	cursor: pointer;
	position: relative;
	
}
.divider{
	background: rgb(58, 58, 58);
	width: 200px;
	height: 10px;
	margin-left: 20px;
	
}