body{
	background-color: rgb(58, 58, 58);
}
.logo{
	background: rgba(0,0,0,.3);
	color: rgb(255, 255, 255);
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border-radius: 50%;
	display: grid;
	place-items: center;
	position: relative;
}
.btn{
	background: rgba(0,0,0,.3);
	color: rgb(255, 255, 255);
	width: 250px;
	height: 100px;
	margin-left: 30px;
	padding: 10px;
	display: grid;
	place-items: center;
	cursor: pointer;
	position: relative;
	
}
.btn2{
	position: relative;
	left: 30px;
	width: 325px;
	height: 150px;
	margin: 4px 2px;
	padding: .5px 4px;
}
.divider{
	background: rgb(58, 58, 58);
	width: 200px;
	height: 10px;
	margin-left: 20px;
	
}
//.coldiv1{
//    background: rgb(251, 177, 12);
//    width: 1000px;
//   height: 20px;
//    margin-bottom: 1px;
}
//.coldiv2{
//    background: rgb(93, 2017, 202);
//    width: 1000px;
//    height: 100px;
//   margin-bottom: 1px;
}
.btnpage2 {
    position: relative;
    left: 30px;
    width: 180px;
    height: 90px;
    margin-left: 0;
    padding: .5px 4px;
}
.btnpage {
    background: rgba(0,0,0,.3);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    margin-left: 0;
    padding: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: relative;
}
.head{
    color: rgb(251, 177, 12);
    font-family: 'Bookman Old Style';
}
.head2{
    color: rgb(251, 177, 12);
    font-family: 'Bookman Old Style';
}
.txt{
    color: rgb(93, 207, 202);
    font-family: 'Bookman Old Style';
    font-weight: 100;
}